/*! Origin v1.3.0 | https://origin.plue.es | MIT License */

/*
Set global layout
*/

html * {
  box-sizing: border-box;
}

video,
audio {
  display: block;
}

/*
Set global font format
*/

html,
textarea {
  font-family: verdana, arial, sans-serif;
  font-size: 16px;
}

body {
  color: #222;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
Style links
*/

a {
  color: #c33;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/*
Style headlines
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
  line-height: 1.25;
  margin: 0;
}

h1 { font-size: 2rem }
h2 { font-size: 1.6rem }
h3 { font-size: 1.2rem }
h4 { font-weight: bold }

/*
Define space underneath visually separating elements
*/

p,
ul,
ol,
form,
table,
figure,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.7rem;
}

/*
Style blockquotes
*/

blockquote {
  font-style: italic;
  margin: 0.7rem 30px;
}

/*
Scale images responsively
*/

img {
  height: auto;
  max-width: 100%;
  vertical-align: top;
  width: auto\9;
}

/*
Style horizontal line
*/

hr {
  border: 0;
  border-top: 1px solid #dedede;
  margin: 2em 0;
}

/*
Reset outlines
*/

:hover,
:focus,
:active,
a:focus {
  outline: 0;
}

/*
Style tables
*/

table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

td,
th {
  border-bottom: 1px solid #dedede;
  padding: 7px 13px;
  text-align: left;
}

th {
  font-size: 0.8rem;
  font-weight: normal;
}

/*
Style lists
*/

ul {
  list-style: outside;
  padding-left: 1.7em;
}

ul ul {
  list-style: circle;
  margin-bottom: 0;
  padding-left: 1em;
}

ol {
  padding-left: 2em;
}

/*
Reset list style in navigation
*/

nav ul,
nav ul ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

/*
Style pre and code
*/

pre, 
code {
  font-family: monaco, monospace, courier;
}

code {
  background: #f7f7f7;
  border: 1px solid #dedede;
  font-size: .8rem;
  padding: .1em .2em;
}

pre code {
  display: inline-block;
  padding: .5em .8em;
}

/*
Tweak webkit placeholder text
*/

::-webkit-input-placeholder {
  line-height: normal;
}

/*
Input form elements
*/

.input {
  border: 1px solid #dedede;
  box-sizing: border-box;
  color: inherit;
  line-height: normal;
  padding: .55em;
  vertical-align: middle;
  width: 100%;
}

.input:focus {
  border-color: #aaa;
}

textarea.input {
  height: 70px;
  min-height: 70px;
  max-height: 150px;
  resize: vertical;
}

/*
Buttons
*/

.btn {
  background: #222;
  border: 0;
  cursor: pointer;
  color: #eee;
  display: inline-block;
  font-size: 0.9rem;
  line-height: normal;
  overflow: visible;
  padding: 7px 12px;
  vertical-align: middle;
  margin: 0.5rem 0;
  -moz-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.btn:hover {
  background: #000;
  color: #fff;
  text-decoration: none;
}

.btn:active,
.btn.active {
  background: #333;
}